service cloud.firestore {
    match /databases/{database}/documents {
        match /{document=**} {
        allow read, write: if true;
        }
    }
  match /databases/{database}/documents {
    match /configurations/{configurationId} {
      allow read, write: if true;
    }

          match /projects/{projectId} {
            allow read, write: if true;
          }
  }

    match /databases/{database}/documents {
      match /counter/{configurationId} {
        allow read, write: if true;
      }
    }

    match /databases/{database}/documents {
       match /companies/{companyName} {
       allow read, write: if true;
     }
    }

    match /databases/{database}/documents {
      match /projects/{projectId} {
        allow read, write: if true;
      }
    }

}
